<!-- Navigation-->
<nav
  class="navbar navbar-expand-lg bg-secondary text-uppercase sticky-top"
  id="mainNav"
>
  <div *ngIf="mode !== 'logged-in'" class="container">
    <a class="navbar-brand" href="#page-top">Car Marketplace</a>
    <button
      class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="home">Home</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="signup"
            >Sign Up</a
          >
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="login">login</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="mode === 'logged-in'" class="container">
    <a class="navbar-brand" href="#page-top">Car Marketplace</a>
    <button
      class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="logout">Logout</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="profile"
            >Profile</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
