<div class="text-center text-white">
  <form class="form-search" id="search">
    <div class="row bg-secondary p-3 rounded">
      <div class="input-group p-3">
        <ng-select
          (change)="selectMake(selectedMake)"
          appendTo="body"
          class="form-control form-control-md m-1"
          [items]="make$ | async"
          bindLabel="name"
          bindValue="name"
          [(ngModel)]="selectedMake"
          [ngModelOptions]="{ standalone: true }"
        ></ng-select>
        <ng-select
          (change)="selectBodyType(selectedBodyType)"
          appendTo="body"
          class="form-control form-control-md m-1"
          [items]="bodytypes$ | async"
          bindLabel="name"
          bindValue="name"
          [(ngModel)]="selectedBodyType"
          [ngModelOptions]="{ standalone: true }"
        ></ng-select>

        <ng-select
          appendTo="body"
          class="form-control form-control-md m-1"
          [items]="models$ | async"
          bindLabel="name"
          bindValue="name"
          [(ngModel)]="selectedModel"
          [ngModelOptions]="{ standalone: true }"
        ></ng-select>
        <div class="col-auto">
          <button
            class="btn btn-primary btn-lg"
            id="submitButton"
            type="submit"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="d-none" id="submitErrorMessage">
      <div class="text-center text-danger mb-3">Error sending message!</div>
    </div>
  </form>
</div>
