<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image-->
    <img class="masthead-avatar mb-5" src="assets/img/car.svg" alt="..." />
    <!-- Masthead Heading-->
    <h1 class="masthead-subheading text-uppercase mb-0">
      Find Your Dream Car !
    </h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <app-search></app-search>
        </div>
      </div>
    </div>
  </div>
</header>
