<main class="main">
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#!">Car Marketplace</a>
    </div>
    <div class="float-right">
      <a class="btn btn-primary float-right me-3" href="signup">Sign Up</a>
      <a class="btn btn-primary float-right me-3" href="login">Login</a>
    </div>
  </nav>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <app-search></app-search>
        </div>
      </div>
    </div>
  </header>
</main>
